Repository alibaba/spring-cloud-alibaba, pull requests merged in 2024-07, with the labels that each got.

#3774 feat: update rag example and readme files
  spring-cloud-alibaba-examples/ai-example/spring-cloud-ai-rag-example/README-en.md
  spring-cloud-alibaba-examples/ai-example/spring-cloud-ai-rag-example/README.md
  spring-cloud-alibaba-examples/ai-example/spring-cloud-ai-rag-example/src/main/resources/application.yml
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/TongYiConnectionProperties.java
Labels: area/example, area/ai

#3695 fix: 2023.x #3445 A bean for InetIPv6Utils that could not found at pr…
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-nacos-discovery/src/main/java/com/alibaba/cloud/nacos/discovery/configclient/NacosDiscoveryClientConfigServiceBootstrapConfiguration.java
Labels: kind/bug, area/nacos

#3159 Fix: Seata-example exclude `dubbo-filter-seata`
  spring-cloud-alibaba-examples/seata-example/account-service/pom.xml
  spring-cloud-alibaba-examples/seata-example/business-service/pom.xml
  spring-cloud-alibaba-examples/seata-example/order-service/pom.xml
  spring-cloud-alibaba-examples/seata-example/storage-service/pom.xml
Labels: waiting for sync, area/example
