Repository alibaba/spring-cloud-alibaba, pull requests merged in 2024-03, with the labels that each got.

#3640 feat: update sentinel-example in 2022.x branch
  spring-cloud-alibaba-examples/sentinel-example/readme-zh.md
  spring-cloud-alibaba-examples/sentinel-example/readme.md
  spring-cloud-alibaba-examples/sentinel-example/sentinel-circuitbreaker-example/readme-zh.md
  spring-cloud-alibaba-examples/sentinel-example/sentinel-circuitbreaker-example/readme.md
  spring-cloud-alibaba-examples/sentinel-example/sentinel-circuitbreaker-example/src/main/resources/application.yml
  spring-cloud-alibaba-examples/sentinel-example/sentinel-core-example/readme-zh.md
  spring-cloud-alibaba-examples/sentinel-example/sentinel-core-example/readme.md
  spring-cloud-alibaba-examples/sentinel-example/sentinel-spring-cloud-gateway-example/src/main/resources/application.yaml
Labels: area/sentinel, area/example

#3644 修复 Nacos 集群模式下获取到旧配置问题 | Fixed: server pulling old config in Nacos cluster mode
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-nacos-config/src/main/java/com/alibaba/cloud/nacos/client/NacosPropertySourceBuilder.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-nacos-config/src/main/java/com/alibaba/cloud/nacos/refresh/NacosContextRefresher.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-nacos-config/src/main/java/com/alibaba/cloud/nacos/refresh/NacosSnapshotConfigManager.java
Labels: area/nacos

#3654 Fix typo in Nacos example readme-zh.md
  spring-cloud-alibaba-examples/nacos-example/readme-zh.md
Labels: area/nacos, kind/docs

#3666 docs: update nacos config example
  spring-cloud-alibaba-examples/nacos-example/nacos-config-example/src/main/resources/application.yaml
  spring-cloud-alibaba-examples/nacos-example/readme-zh.md
  spring-cloud-alibaba-examples/nacos-example/readme.md
Labels: kind/docs, area/example

#3655 feat: remove license check ci
  .github/workflows/license-check.yml
Labels: kind/chore, area/ci

#3659 [WIP] feat: Adapting the spring-ai to the TongYI model
  spring-cloud-alibaba-dependencies/pom.xml
  spring-cloud-alibaba-examples/pom.xml
  spring-cloud-alibaba-examples/spring-cloud-ai-example/README-en.md
  spring-cloud-alibaba-examples/spring-cloud-ai-example/README.md
  spring-cloud-alibaba-examples/spring-cloud-ai-example/pom.xml
  spring-cloud-alibaba-examples/spring-cloud-ai-example/src/main/java/com/alibaba/cloud/ai/example/tongyi/TongYiApplication.java
  spring-cloud-alibaba-examples/spring-cloud-ai-example/src/main/java/com/alibaba/cloud/ai/example/tongyi/controller/TongYiController.java
  spring-cloud-alibaba-examples/spring-cloud-ai-example/src/main/java/com/alibaba/cloud/ai/example/tongyi/service/TongYiService.java
  spring-cloud-alibaba-examples/spring-cloud-ai-example/src/main/java/com/alibaba/cloud/ai/example/tongyi/service/impl/TongYiServiceImpl.java
  spring-cloud-alibaba-examples/spring-cloud-ai-example/src/main/resources/application.yml
  spring-cloud-alibaba-starters/pom.xml
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/README.md
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/pom.xml
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/TongYiAutoConfiguration.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/TongYiChatOptions.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/TongYiChatProperties.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/aot/TongYiRuntimeHints.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/client/TongYiChatClient.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/constant/TongYiConstants.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/exception/TongYiException.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/metadata/TongYiAiChatResponseMetadata.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/java/com/alibaba/cloud/ai/tongyi/metadata/TongYiAiUsage.java
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/resources/META-INF/spring/aot.factories
  spring-cloud-alibaba-starters/spring-cloud-starter-alibaba-ai/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
Labels: area/ai
